<div class="container">

    <!-- Header -->
    <header class="w3-container w3-light-grey w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Wallet Application</h1>
        <p class="w3-xlarge">Made by Amitabh Saxena</p>
        <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" routerLink="sign">Get Started</button>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container ">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>EM Wallet</h1>
                <h5 class="w3-padding-32">A simple Wallet application made using Spring and Angular Framework</h5>

                <p class="w3-text-black">The application provides several features.<br>
                    Fast Deposit and Fast withdrawal.<br>
                    Fast money transer.<br>
                    History of all transactions.<br>
                    Unique Account Number, Email Id and Mobile Number for each user.<br>
                    To prevent duplicity.
                </p>

               
            </div>

            <div class="w3-third w3-center">
                <img src="./assets/logo.jpg" alt="logo" height="250px" width="250px">
            </div>
        </div>
    </div>


</div>