<div class="container">

    <div class="jumbotron">

        <h1>Wallet Application</h1>
        <p>Made by Amitabh Saxena</p>
        <button class="btn btn-dark" routerLink="sign">Get Started</button>
    
    </div>

    <div class="about">
        <div class="container">
            <div class=" row">
                <div class="col-md-6">
                    <img src="./assets/logo.jpg" alt="logo" height="80%" width="80%">
                </div>


                <div class="col-md-6">

                    <h2>EM Wallet</h2>
                    <h5>A simple Wallet application made using Spring and Angular Framework</h5>


                    <p>The application provides several features.<br>
                        Fast Deposit and Fast withdrawal.<br>
                        Fast money transer.<br>
                        History of all transactions.<br>
                        Unique Account Number, Email Id and Mobile Number for each user.<br>
                        To prevent duplicity.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="module">
        <div class="container">
            <h2>Modules Created</h2>

            <div class="row">
                <div class="col-md-3">
                    <div class="moduleo">
                        <h4>Deposit Anytime</h4>
                        <div class="modulei">
                            <p>This Module will help in Fast Deposit to the user's account</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="moduleo">
                        <h4>Withdraw Anytime</h4>
                        <div class="modulei">
                            <p>This Module will help in Fast withdrawal from the user's account</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="moduleo">
                        <h4>Send Money</h4>
                        <div class="modulei">
                            <p>This Module will help in transfer money to another user of the wallet</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="moduleo">
                        <h4>Transaction History</h4>
                        <div class="modulei">
                            <p>This Module will help to show history of all transactions performed by the user.</p>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>


</div>