  <div class="container">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>Mobile No</th>
            <th>EmailId</th>
            <th>Account Number</th>
            <th>DOB</th>
            <th>Balance</th>
            <th>Operation</th>
            <th>Operation</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.mobileNo }}</td>
          <td>{{ user.emailId}}</td>
          <td>{{ user.accNo }}</td>
          <td>{{ user.dob }}</td>
          <td>{{ user.balance }}</td>
          <td>
            <button class="btn btn-info" (click) = "seeTransactions(user)">User Transactions</button>
          </td>
          <td>
            <button class="btn btn-warning" (click) = "deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click) = "newUser()">New User</button>
  </div>
