<div class="moneyTransfer">
  <h4>Wallet Application</h4>
<div class="container col-md-5 offset-md-3 transfer">
    <a (click)="showSignup(signup1,login1)">Sign Up</a>
    <a (click)="showLogin(signup1,login1)" style="border-right: 1px solid black; padding-right: 10px;">Log In</a>
  <form (ngSubmit)="processForm(username1.value,password1.value)" #login1 #login2="ngForm">
    <div class="form-group">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username" ngModel #username1="ngModel" required [class.is-invalid]="username1.invalid && username1.touched">
      <small [class.d-none]="username1.valid||username1.untouched" class="text-danger">Username is mandatory</small> 
    </div>

    <div class="form-group">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" ngModel #password1="ngModel" required [class.is-invalid]="password1.invalid && password1.touched">
      <small [class.d-none]="password1.valid || password1.untouched" class="text-danger">Password is mandatory</small> 
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" [disabled]="login2.form.invalid"><br/>
    <small [class.d-none]="details" class="text-danger">Invalid Details</small>
    
  </form>

   <form #signup1 #signup2="ngForm" id="signup" (ngSubmit)="makeAccount(account2.value,name2.value,pan2.value,aadhar2.value,phone2.value,amount2.value,username2.value,password2.value)">
    <div class="form-group">
      <label class="form-label">Enter the Account Number</label>
      <input type="text" class="form-control" name="accountNumber" ngModel #account2="ngModel" required  pattern="^\d{6}$" [class.is-invalid]="account2.invalid && account2.touched">
      <div *ngIf="account2.errors && (account2.invalid || account2.touched)">
        <small class="text-danger"[class.d-none]="account2.valid||account2.untouched" *ngIf="account2.errors.required">Account Number is mandatory</small>
        <small class="text-danger" *ngIf="account2.errors.pattern">Account Number should contain exact 6 digits</small>
    </div>
    <small [class.d-none]="accountBool" class="text-danger">Account Number already linked with another Wallet</small>
    </div>
    
    <div class="form-group">
      <label class="form-label">Enter the Customer Name</label>
      <input type="text" class="form-control" ngModel name="name" #name2="ngModel" required [class.is-invalid]="name2.invalid && name2.touched">
      <small [class.d-none]="name2.valid || name2.untouched" class="text-danger">Name is Mandatory</small>
    </div>

    <div class="form-group">
      <label class="form-label">Enter the Pan Number</label>
      <input type="text" class="form-control" ngModel name="pan" #pan2="ngModel" required pattern="[A-Z]{5}[0-9]{3}" [class.is-invalid]="pan2.invalid && pan2.touched">
      <div *ngIf="pan2.errors && (pan2.invalid || pan2.touched)">
        <small class="text-danger"[class.d-none]="pan2.valid||pan2.untouched" *ngIf="pan2.errors.required">Pan Number is mandatory</small>
        <small class="text-danger" *ngIf="pan2.errors.pattern">Pan Number should contain exact 5 capital letters followed by 3 numbers</small>
    </div>
    <small [class.d-none]="panBool" class="text-danger">Pan Number already linked with another Wallet</small>
  </div>

    <div class="form-group">
      <label class="form-label">Enter the Aadhar Number</label>
      <input type="text" class="form-control" ngModel name="aadharNumber" #aadhar2="ngModel" required  pattern="^[0-9]{8}" [class.is-invalid]="aadhar2.invalid && aadhar2.touched">
      <div *ngIf="aadhar2.errors && (aadhar2.invalid || aadhar2.touched)">
        <small class="text-danger"[class.d-none]="aadhar2.valid||aadhar2.untouched" *ngIf="aadhar2.errors.required">Aadhar Number is mandatory</small>
        <small class="text-danger" *ngIf="aadhar2.errors.pattern">Aadhar Number should contain 9 digits</small>
    </div>
    <small [class.d-none]="aadharBool" class="text-danger">Aadhar already linked with another Wallet</small>
  </div>

    <div class="form-group">
      <label class="form-label">Enter the Phone Number</label>
      <input type="text" class="form-control" ngModel name="phoneNumber" #phone2="ngModel" required  pattern="^\d{10}$" [class.is-invalid]="phone2.invalid && phone2.touched">
      <div *ngIf="phone2.errors && (phone2.invalid || phone2.touched)">
        <small class="text-danger"[class.d-none]="phone2.valid||phone2.untouched" *ngIf="phone2.errors.required">Phone Number is mandatory</small>
        <small class="text-danger" *ngIf="phone2.errors.pattern">Phone Number should contain 10 digits</small>
    </div>
    <small [class.d-none]="phoneBool" class="text-danger">Phone Number already linked with another Wallet</small>
  </div>

    <div class="form-group">
      <label class="form-label">Enter the Amount</label>
      <input type="number" class="form-control" ngModel name="amount" #amount2="ngModel" required  [class.is-invalid]="amount2.invalid && amount2.touched">
      <small [class.d-none]="amount2.valid || amount2.untouched" class="text-danger">Amount is Mandatory</small>
    </div>

    <div class="form-group">
      <label class="form-label">Enter the Username</label>
      <input type="text" class="form-control" ngModel name="username" #username2="ngModel" required [class.is-invalid]="username2.invalid && username2.touched">
      <small [class.d-none]="username2.valid || username2.untouched" class="text-danger">Username is Mandatory</small>
      <small [class.d-none]="userBool" class="text-danger">Username already linked with another Wallet</small>
    </div>

    <div class="form-group">
      <label class="form-label">Enter the Password</label>
      <input type="password" class="form-control" ngModel name="password" #password2="ngModel" required [class.is-invalid]="password2.invalid && password2.touched">
      <small [class.d-none]="password2.valid || password2.untouched" class="text-danger">Password is Mandatory</small>
    </div>

    <input type="submit" class="btn btn-primary" value="Sign Up" [disabled]="signup2.form.invalid">
  </form> 
</div>
</div>

