
<div class="moneyTransfer">
    
  <div class="container col-md-5 offset-md-3 transfer">    
    <h4>Fill up the details to use EM Wallet</h4>  
     <form  #signup2="ngForm" id="signup" (ngSubmit)="makeAccount(name2.value,phone2.value,amount2.value,username2.value,password2.value,email2.value, dob2.value)">
      
      <div class="form-group">
        <label class="form-label">Enter the Customer Name:</label>
        <input type="text" class="form-control" ngModel name= "name" #name2="ngModel" required [class.is-invalid]="name2.invalid && name2.touched">
        <small [class.d-none]="name2.valid || name2.untouched" class="text-danger">Name is Mandatory</small>
      </div>

      <div class="form-group">
        <label class="form-label">Enter the Customer Email:</label>
        <input type="email" class="form-control" ngModel name="email" #email2="ngModel" required [class.is-invalid]="email2.invalid && email2.touched">
        <small [class.d-none]="email2.valid || email2.untouched" class="text-danger">Email is Mandatory</small>
        <small [class.d-none]="emailBool" class="text-danger">Email ID already linked with another Wallet</small>
      </div>

      <div class="form-group">
        <label class="form-label">Enter the Phone Number:</label>
        <input type="text" class="form-control" ngModel name="phoneNumber" #phone2="ngModel" required  pattern="^\d{10}$" [class.is-invalid]="phone2.invalid && phone2.touched">
        <div *ngIf="phone2.errors && (phone2.invalid || phone2.touched)">
          <small class="text-danger"[class.d-none]="phone2.valid||phone2.untouched" *ngIf="phone2.errors.required">Phone Number is mandatory</small>
          <small class="text-danger" *ngIf="phone2.errors.pattern">Phone Number should contain 10 digits</small>
      </div>
      <small [class.d-none]="phoneBool" class="text-danger">Phone Number already linked with another Wallet</small>
    </div>
  
      <div class="form-group">
        <label class="form-label">Enter the Initial Balance:</label>
        <input type="number" class="form-control" ngModel name="amount" #amount2="ngModel"   [class.is-invalid]="amount2.invalid && amount2.touched" required>
        <small [class.d-none]="amount2.valid || amount2.untouched" class="text-danger">Amount is Mandatory</small>
      </div>
  
      <div class="form-group">
        <label class="form-label">Enter the Username:</label>
        <input type="text" class="form-control" ngModel name="username" #username2="ngModel" required [class.is-invalid]="username2.invalid && username2.touched">
        <small [class.d-none]="username2.valid || username2.untouched" class="text-danger">Username is Mandatory</small>
        <small [class.d-none]="userBool" class="text-danger">Username already linked with another Wallet</small>
      </div>
      <div class="form-group">
        <label class="form-label">DOB:</label>
        <input max="2020-04-20" class="form-control" type="date" ngModel name="dob" #dob2="ngModel" [class.is-invalid]="dob2.invalid && dob2.touched" required> 
      </div>
  
      <div class="form-group">
        <label class="form-label">Enter the Password:</label>
        <input type="password" class="form-control" ngModel name="password" #password2="ngModel" required [class.is-invalid]="password2.invalid && password2.touched">
        <small [class.d-none]="password2.valid || password2.untouched" class="text-danger">Password is Mandatory</small>
      </div>
  
      <input type="submit" class="btn btn-primary" value="Sign Up" [disabled]="signup2.form.invalid">
    </form> 
  </div>
  </div>
  